html, body {
    background-color: #252A2E;
    font-family: 'Work Sans', sans-serif;
    color: #FFF;
    margin: 0;
}
h1 {
    font-size: 40px;
}
header {
    position: fixed;
    width: 100%;
    background-color: #252A2E;
    transition: .3s;
}
header.sticky {
    background-color: #252A2E;
    box-shadow: rgba(0, 0, 0, 0.18) 0px 2px 4px;
    transition: .3s;
    z-index: 2;
}
nav {
    height: 8vh;
    display: flex;
    align-items: center;
    justify-content: space-around;

}
.logo-link {
    height: 100%;
    display: flex;
    align-items: center;
    padding-top: 1px;
}
.logo {
    height: 70%;
}
nav ul, .social ul, .categories ul {
    display: inline-flex;
    list-style: none;
    padding: 0;
}
nav ul li {
    padding: 15px 15px 12px 15px;
}
a {
    text-decoration: none;
    color: white;
}
nav .nav-bar li::after {
    display: block;
    content: '';
    background-color: #3D5F7A;
    width: 0px;
    height: 3px;
    transition: .3s;
}
nav .nav-bar li:hover::after {
    display: block;
    content: '';
    background-color: #3D5F7A;
    width: 100%;
    height: 3px;
    transition: .3s;
}
.buttons button {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
}
.translate {
    padding-left: 0;
}
.animation {
    padding-right: 0;
}
.presentation {
    height: 91vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container {
    width: fit-content;
    text-align: center;
    margin-top: 100px;
    border-radius: 10px;
    padding: 0 50px 10px 50px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #252A2E;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container img {
    max-width: 320px;
    margin-top: -150px;
    border-radius: 100%;
    border: 5px solid ;
}
.container h1 {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 0;
}
.container h3 {
    font-weight: lighter;
    margin-top: 5px;
    font-size: 24.6px;
}
#name {
    font-family: 'Righteous', cursive;
    letter-spacing: 2px;
}
.social ul {
    width: 100%;
    justify-content: space-around;
}
.social a {
    color: white;
    height: 100%;
}
.social svg {
    padding: 5px;
    border-radius: 10px;
    transition: .3s;
}
.social svg:hover {
    background-color: #3D5F7A;
    transition: .3s;
}
.presentation {
    padding-top: 10vh;
}
section {
    height: 100vh;
    /* padding: 10vh 0 10vh 0; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}
.title {
    text-align: center;
    width: fit-content;
    margin-bottom: 15px;
}
.title h1 {
    margin: 0;
}
.info {
    width: 80%;
}
.info h2 {
    font-weight: bold;
}
.info span {
    color: #3D5F7A;
    font-weight: bold;
}
.info p {
    letter-spacing: 1px;
    line-height: 1.5rem;
    font-weight: 500;
}
.personal {
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}
.details {
    width: 45%;
}
.info-details {
    display: flex;
}
.details ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.details li {
    line-height: 2.12rem;
}
.ask {
    color: #3D5F7A;
    font-weight: bold;
    margin-right: 7%;
}
.status {
    padding: 0 10px 0 10px;
    background-color: #32a852;
    width: fit-content;
    border-radius: 10px;
}
.interest {
    width: 50%;
}
.info-interest ul {
    list-style: none;
    display: grid;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 20px;
    text-align: center;
}
.info-interest li {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px 2.4px;
    padding: 10px 0px 10px 0px;
    transition: .3s;
    z-index: 1;
    background-color: #252A2E;
}
.info-interest li:hover {
    background-color: #3D5F7A;
    transition: .3s;
}
.info-interest p {
    margin: 5px 0 0 0;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
}
.cv {
    color: white;
    background-color: transparent;
    border: 1px white solid;
    padding: 1rem;
    font-size: x-large;
    letter-spacing: 1px;
    margin-top: 45px;
    cursor: pointer;
    transition: ease-out .3s;
    box-shadow:  inset 0 0 0 0 transparent;
}
.cv:hover {
    box-shadow: inset 203px 0 0 0 #3D5F7A;
}
.categories {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categories ul {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.categories h2 {
    margin: 0;
    padding: 0.5rem;
    color: white;
    font-family: 'Work Sans', sans-serif;
}
.categories button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: ease-out .5s;
    box-shadow:  inset 0 0 0 0 transparent;
}
.categories button:hover {
    border-radius: 10px;
    box-shadow: inset 202px 0 0 0 #3D5F7A;
}
.categories button.marked {
    border-radius: 10px;
    background-color: #3D5F7A;
}
.projects {
    margin-top: 20px;
    width: 80%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
    z-index: 1;
}
.thumbnail {
    width: 65%;
    border-radius: 10px;
}
.content {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 80%;
}
.mail {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.input {
    padding: 1rem;
    margin: 0rem 0.8rem 1.6rem 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    background-color: #252A2E;
    border: none;
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 16px;
    color: white;
    border-radius: 10px;
    z-index: 1;
}
.message {
    height: 7rem;
}
#submit {
    width: 250px;
    padding: 0.7rem;
    margin: 0.8rem 0.8rem 0 0;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    background-color: #252A2E;
    border: 1px solid white;
    outline: none;
    font-size: 16px;
    color: white;
    cursor: pointer;
    transition: ease-out .3s;
    box-shadow:  inset 0 0 0 0 transparent;
    font-weight: normal;
    margin-bottom: 0;
}

#submit:hover {
    box-shadow: inset 250px 0 0 0 #3D5F7A;
}
.mapouter{
    position:relative;
    text-align:right;
    height:99%;
    width:450px;
    border-radius: 10px;
}
.gmap_canvas {
    overflow:hidden;
    background:none!important;
    height:99%;
    width:100%;
    border: 3px solid #252A2E;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
}
iframe {
    height: 100%;
}
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
footer .social {
    margin-top: 10px;
    width: 40%;
}
.about-me, .contact {
    background-color: #1E2326;
}
.popup {
    border-radius: 10px;
    background-color: #252A2E;
    position: absolute;
    width: 50%;
    padding: 2%;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    text-align: center;
    transform: scale(1);
    transition: .3s;
    z-index: 2;
}
.disapear {
    opacity: 0;
    transition: .5s !important;
}
.popup h1 {
    margin: 10px 0 5px 0;
}
.popup h2 {
    margin: 0;
    font-weight: 500;
}
.bg {
    position: absolute;
    max-width: 100vw;
    height: 100vh;
    z-index: 0;
}
.star {
    width: 1px;
    height: 1px;
    background-color: white;
    position:fixed;
}

@media screen and (max-width: 780px) {
    nav .nav-bar {
        display: none;
    }
    .buttons {
        margin: 0;
    }
    .buttons li {
        padding: 0;
    }
    section {
        height: fit-content;
        padding: 10%;
    }
    .container {
        width: 80%;
        padding: 5%;
    }
    .container h1 {
        font-size: 1.9rem;
    }
    .container h3 {
        font-size: 1.15rem;
        margin: 5px 0 5px 0;
    }
    .personal {
        margin-top: 0;
        flex-direction: column;
    }
    .info p {
        margin: 0;
    }
    .details {
        width: 100%;
    }
    .details li {
        line-height: 1rem;
    }
    .ask {
        margin: 0;
    }
    .ask ul {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        align-items: center;
    }
    .response ul {
        display: grid;
        grid-template-rows: repeat(6, 1fr);
        align-items: center;
        height: 100%;
    }
    .response li{
        font-size: 0.7rem;
    }
    .categories ul {
        margin-top: 0;
    }
    .categories-btn h2 {
        font-size: 16px;
    }
    .info p {
        font-size: 1rem;
    }
    .info-details {
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .interest {
        width: 100%;
    }
    .contact .content {
        flex-direction: column;
    }
    #form {
        width: 100%;
    }
    #form .input {
        margin-right: 0;
    }
    #form button {
        margin-right: 0;
        width: 100%;
    }
    .mapouter {
        width: 100%;
        margin-top: 5vh; 
        height: 50vh;
    }
    .gmap_canvas {
        margin: 0;
        border: none;
    }
    iframe {
        width: 100%;
        height: 100%;
    }
    footer .social {
        width: 80%;
    }
}